@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  width: 1440px;
  min-height: 100%;
  margin: 0 auto;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.page-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 1040px;
  min-height: 186px;
  margin: 40px auto 0;
  padding: 0 60px;
  background-color: #ffe17f;
}

.header-logo {
  position: relative;
  top: -20px;
  width: 145px;
  margin-bottom: 6px;
}

.button {
  position: relative;
  display: inline-block;
  padding: 10px 5px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  border: none;
  background: linear-gradient(rgba(0,0,0,0) 15px,#ffe17f 15px,#ffe17f 23px, rgba(0,0,0,0)23px);
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(#ffe17f 100%, #ffffff 100%);
}

.button:active {
  background: linear-gradient(#ffcc33 100%, #ffffff 100%);
}

.button:focus-visible {
  outline: 2px solid #af4fff;
}

.button:disabled {
  opacity: 0.3;
}

.header-elements-wrapper {
  display: flex;
  align-items: center;
  width: 1040px;
  margin: 0 auto;
  margin-bottom: 45px;
}

.search-form {
  display: inline-flex;
  margin-right: 26px;
}

.search-field {
  position: relative;
  width: 359px;
  padding: 8px 0 8px 46px;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: 14px 50%;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
}

.search-button {
  position: relative;
  padding: 8px 55px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  border: 2px solid #000000;
  border-left-width: 0;
  border-radius: 0 50px 50px 0;
  cursor: pointer;
}

.search-button::after {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 160px;
  height: 40px;
  content: "";
}

.search-button:hover  {
  color: #ffffff;
  background-color: #000000;
}

.search-button:active  {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

.search-button:focus-visible::after,
.search-label:focus-within {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.search-button:focus,
.search-field:focus-visible {
  outline: none;
}

.search-button:disabled,
.search-field:disabled  {
  opacity: 0.3;
}

.header-user-nav-list,
.header-nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header-user-nav-item {
  position: relative;
}

.header-user-nav-item:first-child {
  margin-right: auto;
}

.header-user-nav-item:last-child {
  margin-left: 18px;
}

.header-user-nav-item:last-child .header-user-nav-link {
  padding-left: 15px;
}

.header-user-nav-link {
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  color: #000000;
}

.header-user-nav-icon {
  margin-right: 12px;
  margin-bottom: 1px;
}

.button-logout {
  margin-left: 28px;
  color: rgba(0, 0, 0, 0.3);
}

.basket-item-count {
  position: absolute;
  left: 0;
  top: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 50%;
}

.tooltip-wrapper {
  position: absolute;
  top: 36px;
  right: -77px;
  display: none;
  flex-wrap: wrap;
  flex-direction: column;
  box-sizing: border-box;
  width: 320px;
  min-height: 301px;
  color: #ffffff;
  background-color: #000000;
  z-index: 2;
}

.header-user-nav-link:hover + .tooltip-wrapper {
  display: flex;
}

.header-user-nav-link:focus-within + .tooltip-wrapper {
  display: flex;
}

.tooltip-wrapper:hover {
  display: flex;
}

.tooltip-wrapper::before {
  position: absolute;
  top: -15px;
  right: 0;
  width: 195px;
  height: 15px;
  background-color: transparent;
  background-image: url("../images/tooltip-triangle.svg");
  background-repeat: no-repeat;
  background-position: 15% 100%;
  content: "";
}

.tooltip-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tooltip-item {
  display: flex;
  padding: 20px 20px;
}

.tooltip-item-close {
  align-self: flex-start;
  width: 10px;
  height: 10px;
  margin-left: auto;
  background-color: transparent;
  background-image: url("../images/tooltip-close-item.svg");
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.tooltip-image {
  margin-right: 23px;
  order: -1;
}

.tooltip-title {
  width: 151px;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.tooltip-link {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  color: #ffffff;
}

.tooltip-link:hover,
.tooltip-item-close:hover {
  opacity: 0.6;
}

.tooltip-link:active,
.tooltip-item-close:active {
  opacity: 0.3;
}

.tooltip-link:focus-visible,
.tooltip-item-close:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.tooltip-product-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 12px 20px;
  font-size: 16px;
  line-height: 20px;
  background-color: #1a1a1a;
}

.tooltip-button {
  display: inline-block;
  margin: 0 20px;
  padding: 14px 23px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
}

.tooltip-button:hover {
  background-color: #ffe17f;
}

.tooltip-button:active {
  background-color: #ffe17f;
  color: rgba(0, 0, 0, 0.3);
}

.tooltip-button:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.tooltip-button:disabled {
  opacity: 0.3;
}

.header-nav-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 1040px;
  margin: 0 auto;
  z-index: 1;
}

.header-nav-list {
  justify-content: flex-end;
  width: 650px;
  margin: 0;
  padding: 0;
}

.header-nav-item {
  margin-bottom: 5px;
}

.header-nav-item:not(:first-child) {
  margin-left: 45px;
}

.header-nav-item:last-child {
  margin-right: -0.2em
}

.header-nav-item-current {
  padding-bottom: 4px;
  border-bottom: 2px solid #000000;
}

.header-nav-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.header-catalog {
  position: relative;
  padding: 0 65px 20px 0;
}

.header-catalog::after {
  position: absolute;
  top: -15px;
  left: 243px;
  width: 46px;
  height: 46px;
  border: 2px solid #000000;
  border-radius: 50%;
  background-image: url("../images/plus-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: 2;
  opacity: 0.3;
  cursor: pointer;
  content: "";
}

.header-catalog::before {
  position: absolute;
  top: -15px;
  left: 0;
  width: 293px;
  height: 50px;
  content: "";
}

.header-catalog:focus-within::before {
  outline: 2px solid #af4fff;
}

.header-catalog-button {
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header-catalog-button:focus {
  outline: none;
}

.header-catalog-list {
  position: absolute;
  top: 37px;
  left: -60px;
  display: none;
  grid-template-columns: 222px 180px auto;
  grid-template-rows: repeat(3, 36px);
  column-gap: 31px;
  width: 1040px;
  min-height: 120px;
  margin: 0;
  padding: 12px 60px 27px;
  list-style-type: none;
  background-color: #ffe17f;
}

.header-catalog:hover .header-catalog-list,
.header-catalog:focus-within .header-catalog-list {
  display: grid;
}

.header-catalog:hover::after,
.header-catalog:focus-within::after {
  background-image: url("../images/minus-icon.svg");
  opacity: 1;
}

.header-catalog-item:first-child {
  grid-column: 1 / 2;
}

.header-catalog-item:nth-child(2) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.header-catalog-item:nth-child(3) {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.header-catalog-item:nth-child(4) {
  grid-column: 2 / 3;
}

.header-catalog-item:nth-child(5) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.header-catalog-item:last-child {
  grid-column: 3 / 4;
}

.header-catalog-link {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #000000;
}

.header-catalog-link-current {
  padding-bottom: 2px;
  border-bottom: 1px solid #000000;
}

.header-nav-link:hover,
.header-user-nav-link:hover,
.header-catalog-link:hover {
  opacity: 0.6;
}

.header-nav-link:active,
.header-user-nav-link:active,
.header-catalog-link:active {
  opacity: 0.3;
}

.header-nav-link:focus-visible,
.header-user-nav-link:focus-visible,
.header-catalog-link:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.main-container {
  flex-grow: 1;
}

.top-products-slider {
  position: relative;
  width: 1160px;
  margin: -36px auto 70px;
  background: linear-gradient(#ffe17f 150px, #ffffff 150px);
}

.top-product-list {
  margin: 0;
  padding: 0;
}

.top-product-item {
  display: none;
}

.top-product-current {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.top-product-number {
  display: block;
  margin: 0;
  padding-left: 298px;
  font-weight: 700;
  font-size: 180px;
  line-height: 135px;
  color: #ffffff;
  pointer-events: none;
}

.top-product-properties {
  box-sizing: border-box;
  width: 560px;
  min-height: 560px;
  padding-top: 29px;
}

.top-product-title {
  margin: 0;
  margin-bottom: 30px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.top-product-description {
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.top-product-detail {
  padding: 9px 39px;
  margin-bottom: 50px;
  text-decoration: none;
  color: #000000;
}

.properties-wrapper {
  margin-top: -43px;
}

.properties-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.properties-item {
  margin-right: 20px;
}

.property {
  display: block;
  font-size: 16px;
  line-height: 30px;
  color: #444444;
}

.property-value {
  display: block;
  margin-bottom: 12px;
  font-size: 36px;
  line-height: 30px;
}

.slider-button {
  position: absolute;
  top: 211px;
  left: 30px;
  width: 20px;
  height: 60px;
  background-color: transparent;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.slider-next {
  left: 540px;
  transform: rotate(180deg);
}

.slider-pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  margin-top: -21px;
  margin-left: 21px;
  padding: 0;
  list-style-type: none;
}

.slider-pagination-item {
  margin-right: 20px;
}

.slider-pagination-button {
  position: relative;
  width: 12px;
  height: 12px;
  padding: 0;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-button::after {
  position: absolute;
  top: -4px;
  left: -4px;
  width: 16px;
  height: 16px;
  content: "";
}

.slider-pagination-button:hover,
.slider-button:hover {
  opacity: 0.6;
}

.slider-pagination-button:active,
.slider-button:active {
  opacity: 0.3;
}

.slider-pagination-button:focus {
  outline: none;
}

.slider-pagination-button:focus-visible::after,
.slider-button:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.slider-pagination-button:disabled,
.slider-button:disabled {
  opacity: 0.1;
}

.pagination-button-current {
  background-color: #000000;
}

.main-catalog {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.main-catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-catalog-item {
  width: 160px;
}

.main-catalog-item:not(:last-child) {
  margin-right: 40px;
}

.main-catalog-link {
  display: flex;
  flex-direction: column;
  color: #000000;
  text-decoration: none;
}

.main-catalog-link:hover .main-catalog-image {
  background-color: #fcc700;
}

.main-catalog-link:active {
  opacity: 0.3;
}

.main-catalog-link:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.main-catalog-image {
  display: block;
  margin-bottom: 33px;
  background-color: #ffe17f;
  order: -1;
}

.main-catalog-title {
  margin: 0;
  margin-bottom: 12px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.advantages {
  position: relative;
  display: flex;
  width: 1160px;
  margin-bottom: 70px;
  padding: 0 140px;
  background: linear-gradient(#ffffff 102px, #f0f0f0 102px);
}

.advantages-nav-list {
  margin: 0;
  padding: 0;
  padding-top: 64px;
  list-style-type: none;
}

.advantages-nav-list::after {
  position: absolute;
  top: 0;
  left: 420px;
  width: 7px;
  height: 319px;
  background-color: #000000;
  content: "";
}

.advantages-nav-item {
  display: flex;
  box-sizing: border-box;
  margin-bottom: 35px;
  width: 280px;
}

.advantages-nav-current {
  position: relative;
  background-color: #000000;
}

.advantages-nav-current:hover {
  padding-left: 28px;
}

.advantages-nav-current:active {
  padding-left: 28px;
}

.advantages-nav-current .advantages-nav-button {
  color: #ffe17f;
  background: none;
}

.advantages-nav-current .advantages-nav-button:focus-visible {
  padding: 10px 135px 10px 38px;
  outline-offset: 2px;
  outline: 2px solid #af4fff;
  z-index: 1;
}

.advantages-nav-button {
  min-width: 160px;
}

.advantage-list {
  width: 873px;
  margin: 0;
  padding: 72px 63px 144px 122px;
  list-style-type: none;
}

.advantage-item {
  display: none;
}

.advantage-current {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.advantage-title {
  margin: 0;
  margin-bottom: 34px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.advantage-description {
  width: 480px;
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.under-order {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
  background-color: #f0f0f0;
}

.under-order-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.under-order-icon {
  width: 47px;
  height: 31px;
  padding: 35px 39px;
  background-color: #ffe17f;
}

.under-order-description {
  margin: 0;
  margin-top: 6px;
  margin-right: 36px;
}

.under-order-tooltip {
  margin-right: 43px;
}

.under-order-link:hover .under-order-icon {
  background-color: #ffc700;
}

.under-order-link:hover .under-order-tooltip g {
  opacity: 1;
}

.under-order-link:active {
  opacity: 0.3;
}

.under-order-link:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.columns-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
}

.about-us,
.contacts {
  position: relative;
  width: 532px;
  padding-top: 47px;
  margin-bottom: 70px;
}

.about-us-title,
.contacts-title {
  margin: 0;
  margin-bottom: 48px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.about-us-title::before,
.contacts-title::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 84px;
  height: 7px;
  background-color: #000000;
  content: "";
}

.about-us-description,
.contacts-description {
  width: 498px;
  margin: 0;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.about-us-detail,
.contacts-schedule-message {
  padding: 10px 23px;
  text-decoration: none;
  color: #000000;
}

.contacts-schedule-message {
  padding: 10px 34px;
}

.companies-list {
  margin-bottom: 30px;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  list-style-type: none;
}

.companies-item {
  position: relative;
  margin-left: 35px;
  margin-bottom: 19px;
}

.companies-item::before {
  position: absolute;
  left: -35px;
  bottom: 6px;
  width: 8px;
  height: 8px;
  margin: 2px 26px 0 2px;
  background-color: #ffc700;
  border-radius: 50%;
  content: "";
}

.contacts-subtitle {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}

.contacts-address {
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.contacts-phone {
  display: block;
  width: 151px;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.contacts-phone:hover {
  color: #fcc700;
}

.contacts-phone:active {
  color: #fcc700;
  opacity: 0.3;
}

.contacts-phone:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.contacts-schedule-list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style-type: none;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.newsletter {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  padding: 64px 140px 56px;
  margin: 0 auto;
  background-color: #f0f0f0;
}

.newsletter-title {
  width: 348px;
  margin: 0 245px 146px 7px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.newsletter-description {
  width: 553px;
  margin: 10px 0 0 7px;
  font-size: 18px;
  line-height: 30px;
}

.newsletter-form {
  display: flex;
  margin-right: 219px;
}

.newsletter-field {
  width: 541px;
  padding: 11px 0 11px 16px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #f0f0f0;
  border: none;
  border-bottom: 3px solid #c4c4c4;
}

.newsletter-field-error {
  border-bottom: 3px solid #ff3d3d;
}

.newsletter-field:focus-visible {
  background-color: #dcdcdc;
  outline: none;
}

.newsletter-field:disabled {
  opacity: 0.3;
}

.newsletter-button {
  padding: 12px 35px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: transparent;
  border: 3px solid #c4c4c4;
  cursor: pointer;
}

.newsletter-button:hover {
  color: #ffffff;
  background-color: #000000;
  border: 3px solid #000000;
}

.newsletter-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
  border: 3px solid #000000;
}

.newsletter-button:focus {
  outline-offset: 2px;
  outline: 3px solid #af4fff;
}

.newsletter-button:disabled {
  opacity: 0.3;
}

.newsletter-subscription {
  align-self: center;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.newsletter-subscription::before {
  position: absolute;
  bottom: 75px;
  right: 285px;
  width: 16px;
  height: 16px;
  background-image: url("../images/free.svg");
  background-repeat: no-repeat;
  content: "";
}

.page-footer {
  width: 1160px;
  margin: 0 auto;
  padding: 62px 140px;
  background-color: #444444;
}

.footer-logo {
  display: block;
  width: 145px;
  margin-bottom: 35px;
}

.header-logo:hover .header-logo-icon,
.footer-logo:hover .footer-logo-icon {
  fill-opacity: 0.6;
}

.header-logo:active .header-logo-icon,
.footer-logo:active .footer-logo-icon {
  fill-opacity: 0.3;
}

.header-logo:focus-visible .header-logo-icon,
.footer-logo:focus-visible .footer-logo-icon {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.header-logo:focus-visible,
.footer-logo:focus-visible {
  outline: none;
}

.footer-columns-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.top-columns {
  align-items: flex-start;
  margin-bottom: 43px;
}

.footer-address {
  width: 240px;
}

.footer-address-text {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.footer-customers-service {
  width: 510px;
}

.customers-service-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.customers-service-item:not(:last-child) {
  margin-right: 30px;
}

.customers-service-item:last-child {
  margin-left: 3px;
}

.customers-service-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.customers-service-link:hover {
  padding-bottom: 4px;
  color: #fcc700;
  border-bottom: 2px solid #fcc700;
}

.customers-service-link:active {
  padding-bottom: 4px;
  color: #fcc700;
  border-bottom: 2px solid #fcc700;
  opacity: 0.3;
}

.customers-service-link:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.footer-contacts-phone {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.footer-contacts-phone:hover {
  color: #fcc700;
}

.footer-contacts-phone:active {
  color: #fcc700;
  opacity: 0.3;
}

.footer-contacts-phone:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.footer-social {
  width: 210px;
  margin-left: 505px;
}

.footer-social::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #ffc700;
  transform: translateY(-50%);
  content: "";
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-social-item:not(:last-child) {
  margin-right: 15px;
}

.footer-social-link {
  display: block;
  width: 40px;
  height: 40px;
}

.footer-social-icon:hover circle,
.footer-social-icon:active circle {
  fill: #ffc700;
  fill-opacity: 1;
}

.footer-social-icon:active path {
  fill-opacity: 0.3;
}

.footer-social-link:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.footer-developer-link {
  display: block;
  width: 115px;
  height: 33px;
}

.footer-developer-icon:hover path {
  fill: #ffffff;
}

.footer-developer-icon:active path {
  fill: #ffffff;
  fill-opacity: 0.3;
}

.footer-developer-link:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color:rgba(240, 240, 240, 0.9);
  z-index: 3;
}

.modal-container-close {
  display: none;
}

.modal-under-order {
  position: relative;
  width: 760px;
  margin: auto;
  padding: 62px 70px;
  background-color: #ffffff;
  border: 10px solid #000000;
}

.modal-close-button {
  position: absolute;
  top: 74px;
  right: 70px;
  width: 26px;
  height: 26px;
  background-color: transparent;
  background-image: url("../images/modal-close.svg");
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:focus {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-title {
  margin: 0;
  margin-bottom: 42px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.modal-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal-form-button {
  padding: 10px 29px;
}

.modal-field-groupe {
  position: relative;
  display: block;
  margin-bottom: 42px;
}

.modal-label {
  display: block;
  margin-bottom: 14px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.modal-field {
  box-sizing: border-box;
  width: 360px;
  padding: 20px 20px;
  font-size: 16px;
  line-height: 20px;
  background-color: #f0f0f0;
  background-repeat: no-repeat;
  background-position: 325px 50%;
  border: none;
}

.modal-field:hover {
  background-color: #dcdcdc;
}

.modal-field:active {
  background-color: #ebebeb;
}

.modal-field:focus {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.modal-field:disabled {
  opacity: 0.3;
}

.modal-field::placeholder,
.search-field::placeholder {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.3;
}

.field-name {
  background-image: url("../images/modal-name-icon.svg");
}

.field-email {
  background-image: url("../images/modal-email-icon.svg");
}

.field-error {
  padding: 18px 18px;
  border: 2px solid #ff3d3d;
}

.field-product {
  width: 500px;
}

.field-count {
  width: 60px;
  padding: 20px 25px;
  z-index: 1;
}

.modal-message {
  display: block;
  font-size: 14px;
  line-height: 20px;
}

.message-error {
  color: #ff3d3d;
}

.message-warning {
  color: #fd912e;
}

.message-success {
  color: #08af00;
}


.field-wrapper {
  display: flex;
}

.field-wrapper-error {
  border: 2px solid #ff3d3d;
}

.field-wrapper-warning {
  border: 2px solid #fd912e;
}

.field-wrapper-success {
  border: 2px solid #08af00;
}

.modal-count-button {
  width: 60px;
  height: 60px;
  background-color: #f0f0f0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
  cursor: pointer;
}

.modal-count-button:hover {
  background-color: #ebebeb;
}

.modal-count-button:hover .button-decrement-icon,
.modal-count-button:hover .button-increment-icon {
  fill-opacity: 0.6;
}

.modal-count-button:active .button-decrement-icon,
.modal-count-button:active .button-increment-icon {
  fill-opacity: 0.3;
}

.modal-count-button:focus {
  outline: 2px solid #af4fff;
  z-index: 2;
}

.modal-count-button:disabled {
  opacity: 0.3;
}

.modal-tooltip-icon {
  position: absolute;
  top: -4px;
  right: 33px;
  width: 26px;
  height: 26px;
  background-color: #ffe17f;
  background-image: url("../images/modal-tooltip-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  cursor: pointer;
  content: "";
}

.modal-tooltip-icon:hover > .modal-tooltip-text,
.modal-tooltip-icon:focus > .modal-tooltip-text {
  display: inline;
}

.modal-tooltip-icon:hover {
  background-color: #ffc700;
}

.modal-tooltip-icon:focus {
  outline: 2px solid #af4fff;
}

.modal-tooltip-text {
  position: absolute;
  top: 35px;
  right: -35px;
  display: none;
  box-sizing: border-box;
  width: 200px;
  min-height: 160px;
  padding: 19px 19px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.modal-tooltip-text::before {
  position: absolute;
  top: -6px;
  right: 40px;
  width: 14px;
  height: 6px;
  background-image: url("../images/tooltip-triangle.svg");
  background-repeat: no-repeat;
  content: "";
}

.inner-header {
  width: 1040px;
  margin: 0 auto;
  padding: 0 60px;
  margin-bottom: 35px;
}

.inner-header-title {
  margin: 35px 0 16px 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 36px;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.breadcrumbs-item:not(:last-child)::after {
  position: absolute;
  top: 6px;
  right: -20px;
  width: 4px;
  height: 7px;
  margin-bottom: 2px;
  margin-left: 13px;
  background-image: url("../images/breadcrumbs.svg");
  background-repeat: no-repeat;
  content: "";
}

.breadcrumbs-link {
  text-decoration: none;
  color: #000000;
}

.product {
  display: grid;
  grid-template-columns: 320px auto;
  width: 1160px;
  margin: 0 auto;
  padding: 0 140px;
  background-color: #f0f0f0;
}

.product-filter {
  position: relative;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  width: 200px;
  padding: 25px 60px;
}

.product-filter-title,
.sorting-title {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.product-filter-title {
  margin-bottom: 71px;
}

.product-filter-group {
  margin-left: -2px;
  padding: 0;
  border: none;
}

.filter-group-title {
  position: relative;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.price-title {
  margin-bottom: 30px;
}

.filter-group-title::before {
  position: absolute;
  bottom: 18px;
  width: 200px;
  height: 2px;
  margin-bottom: 12px;
  background-color: #000000;
  content: "";
}

.range {
  margin-bottom: 11px;
}

.range-scale {
  position: relative;
  width: 200px;
  height: 2px;
  margin-left: 3px;
  background-color: #dcdcdc;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  padding: 0;
  background-color: #ebebeb;
  border: 2px solid #000000;
  border-radius: 50%;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -12px;
}

.range-fields-wrapper {
  display: flex;
  margin-bottom: 46px;
}

.range-label {
  margin-left: -11px;
  font-size: 14px;
  line-height: 20px;
  opacity: 0.3;
}

.label-min {
  margin-right: 26px;
}

.range-field {
  width: 70px;
  font: inherit;
  background-color: transparent;
  border: none;
}

.product-filter-list {
  margin: 0;
  margin-bottom: 46px;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  list-style-type: none;
}

.bluetooth-list {
  margin-bottom: 36px;
}

.product-filter-item {
  margin-bottom: 17px;
}

.bluetooth-item {
  margin-bottom: 20px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-checkbox {
  position: absolute;
  left: 2px;
  width: 16px;
  height: 16px;
  border: 2px solid #cccccc;
  border-radius: 3px;
}

.control-checkbox::after {
  position: absolute;
  top: -4px;
  left: -4px;
  width: 24px;
  height: 24px;
  content: "";
}

.control:hover .control-checkbox,
.control:hover .control-label {
  opacity: 0.6;
}

.control:active .control-checkbox,
.control:active .control-la {
  opacity: 0.3;
}

.control-input:focus-visible + .control-checkbox::after {
  outline: 2px solid #af4fff;
}

.control:disabled .control-checkbox,
.control:disabled .control-label {
  opacity: 0.1;
}

.control-input[type="checkbox"]:checked + .control-checkbox {
  border-color: #000000;
}

.control-input[type="checkbox"]:checked + .control-checkbox::before {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 10px;
  height: 10px;
  background-image: url("../images/checked.svg");
  background-repeat: no-repeat;
  content: "";
}

.control-input[type="radio"] + .control-checkbox {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-checkbox {
  border-color: #000000;
}

.control-input[type="radio"]:checked + .control-checkbox::before {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color:#000000;
  content: "";
}

.product-filter-button {
  padding: 10px 49px;
  background: linear-gradient(rgba(0,0,0,0) 16px,#ffe17f 16px,#ffe17f 24px, rgba(0,0,0,0)24px);
  cursor: pointer;
}

.sorting {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 760px;
  padding: 20px 40px;
}

.select {
  width: 141px;
  padding-right: 2px;
}

.select-control {
  width: 100%;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  background-color: transparent;
  background-image: url("../images/selector-arrow.svg");
  background-repeat: no-repeat;
  background-position: 121px, 50%;
  border: none;
  appearance: none;
  cursor: pointer;
}

.sorting-button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50%, 50%;
  border: none;
  cursor: pointer;
}

.select-control:hover,
.sorting-button:hover {
  opacity: 0.6;
}

.select-control:active,
.sorting-button:active {
  opacity: 0.3;
}

.select-control:focus-visible,
.sorting-button:focus-visible {
  outline: 2px solid #af4fff;
}

.select-control:disabled,
.sorting-button:disabled {
  opacity: 0.1;
}

.sorting-button-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 60px;
}

.sorting-up {
  background-image: url("../images/sort-up.svg");
}

.sorting-down {
  background-image: url("../images/sort-down.svg");
}

.catalog {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: 70px 40px 0;
  background-color: #ffffff;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 44px;
  margin: 0;
  margin-bottom: 44px;
  padding: 0;
  list-style-type: none;
}

.catalog-item {
  position: relative;
}

.catalog-item-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 360px;
  text-decoration: none;
  color: #000000;
}

.catalog-item-link:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.catalog-image {
  margin-bottom: 32px;
  order: -1;
}

.catalog-title {
  width: 205px;
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.detail-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(240, 240, 240, 0.8);
}

.catalog-item:hover > .detail-wrapper {
  display: block;
}

.catalog-detail {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  transform: translate(-50%, -50%);
}

.catalog-price {
  font-size: 18px;
  line-height: 21px;
  color: #444444;
}

.novelty::after {
  position: absolute;
  top: 27px;
  right: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58px;
  height: 58px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  content: "NEW"
}

.load-more-button {
  margin-bottom: 44px;
  padding: 15px 288px 15px 292px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: transparent;
  border: 3px solid #E5E5E5;
  cursor: pointer;
}

.load-more-button:hover {
  border: 3px solid #000000;
}

.load-more-button:active {
  border: 3px solid #000000;
  opacity: 0.3;
}

.load-more-button:focus {
  outline-offset: 2px;
  outline: 3px solid #af4fff;
}

.load-more-button:disabled {
  opacity: 0.3;
}

.pagination-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 78px;
  background-color: #ebebeb;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  position: relative;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  padding: 10px 15px;
  text-decoration: none;
  color: #444444;
  opacity: 0.3;
}

.pagination-current {
  opacity: 1;
}

.pagination-link:hover {
  opacity: 1;
}

.pagination-link:active {
  opacity: 0.1;
}

.pagination-link-prev,
.pagination-link-next {
  display: block;
  padding: 25px 25px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
}

.pagination-link-next {
  margin-right: -4px;
}

.pagination-active {
  color: #000000;
}

.pagination-link-prev:hover,
.pagination-link-next:hover {
  color: #000000;
  background-color: #e5e5e5;
}

.pagination-link-prev:active,
.pagination-link-next:active {
  color: #000000;
  background-color: #e5e5e5;
  opacity: 0.3;
}

.pagination-link:focus-visible,
.pagination-link-prev:focus-visible,
.pagination-link-next:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}
